textarea {
	width: 600px;
	height: 200px;
}

.mainSection button {
	background-color: #4aaaa5;
	border: none;
	width: 6em;
	height: 1.5em;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	color: white;
	font-size: large;
}

.mainSection form {
	padding-top: 20px;
}

.mainSection a:link {
	color: none;
}

.mainSection a:visited {
	color: none;
}

.mainSection a:hover {
	background-color: grey;
}

.mainSection a:focus {
	background-color: grey;
}

.mainSection a:active {
	background-color: grey;
}